




.right-content {
  height  : 100vh;
  overflow: hidden;
}

.ant-menu-inline {
  width: 230px;
}


.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
}